h1{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

p{
    font-size:x-large;
}

body{
  background-color: aliceblue;

}

.jumbotron{
  background-color: plum
}

.centre{
  
  margin-left: 250px;
}