h1{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

body{
  background-color: aliceblue;
}

.jumbotron{
  background-color: plum
}

.centre{
  justify-content: center;
  margin-left: 250px;
}